<a href="https://colab.research.google.com/github/lorenafc/MGI/blob/main/TreeTalkers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Aqui montamos o acesso ao nosso Google drive, assim podemos salvar e acessar dados diretamente de lá
from google.colab import drive

drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [10]:
# Indique o caminho do shapefile que vamos ler. Esse deve ser o caminho dele no seu google drive.
txt = "/content/drive/MyDrive/IDHV/TTS_Data.txt"
#Leia o shapefile
tts_data = pd.read_csv(txt, sep=",", header=None)
# Verifique o tipo da variável em que lemos o shapefile
print(tts_data.head())

                   0                                                  1
0  16.08.21 14:13:08  C0210018;1;4B;1629115200;0;0;204;16;1;15;4220;...
1  16.08.21 15:00:28  C0210018;1;4B;1629118800;0;0;204;16;1;17;4214;...
2  16.08.21 15:00:44  C0210018;2;4C;1629118800;0;0;-37;-44;0;0;0;0;0...
3  16.08.21 16:00:28  C0210018;3;4B;1629122400;2;0;204;16;1;19;4206;...
4  16.08.21 16:00:45  C0210018;4;4C;1629122400;0;0;-37;-52;0;0;0;0;0...

In [20]:
# Function to replace semicolons with commas in each cell of the DataFrame
def replace_semicolons(tts_data):
    for col in tts_data.columns[:]:  # Skip the first two columns
        tts_data[col] = tts_data[col].str.replace(';', ',')
    return tts_data

# Apply the function to the DataFrame
tts_data = replace_semicolons(tts_data)

# Save the modified DataFrame to a new CSV file
tts_data_colons = 'tts_data_colons.csv'
tts_data.to_csv(tts_data_colons, index=False)

# Display the modified DataFrame
print(tts_data.head())

                   0                                                  1
0  16.08.21 14:13:08  C0210018,1,4B,1629115200,0,0,204,16,1,15,4220,...
1  16.08.21 15:00:28  C0210018,1,4B,1629118800,0,0,204,16,1,17,4214,...
2  16.08.21 15:00:44  C0210018,2,4C,1629118800,0,0,-37,-44,0,0,0,0,0...
3  16.08.21 16:00:28  C0210018,3,4B,1629122400,2,0,204,16,1,19,4206,...
4  16.08.21 16:00:45  C0210018,4,4C,1629122400,0,0,-37,-52,0,0,0,0,0...